<%= render 'news_bg' %>

<div class="news-content">
  <div class="container">
    <div class="new-list">
      <%= render 'new-item' %>
    </div>
    <div class="d-none1 news-pagination">
      <%= paginate @news %>
    </div>
    <div class="cg-loading d-none">LOADING…</div>
  </div>
</div>
