@import "client/vars";

.cg-container .container{
  padding-left: 30px;
  padding-right: 30px;
}

.gc-html-container{
  img{
    max-width: 100%;
    height: auto;
  }
}

#back_to_top {
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 5%;
  height: 100px;
  width: 100px;
  background: url(asset-path('back_to_top.png')) center center;
}

#back_to_top:hover {
  background: url(asset-path('back_to_top_hover.png')) center center;
}
.cg-loading{
  font-size: 20px;
  text-align: center;
  padding: 20px;
}