@import "client/vars";

#navbarNavDropdown{
  height: fill-available;
  height: -webkit-fill-available;
  min-height: 600px;
}

.navbar-cg{
  padding: 0 !important;
  background-color: #0c0c0c;
  opacity: 0.98;
  .nav-link{
    font-family: 'Gotham-Medium' !important;
    color:rgba(255,255,255,1) !important;
    font-weight:400 !important;
    font-size: 17px;
  }
}

@media (max-width: $breakpoints-lg) {
  .navbar-cg .nav-link{
    padding: 20px !important;
  }

  .nav-link-active{
    width: 7%;
    border: 1.5px solid #FEDD89;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.navbar-brand-cg{
  background: url(asset-path('navbar-brand-mobile.svg')) center center;
  background-size: contain;
  background-repeat:no-repeat;
  width: 45%;
  max-width: 370px;
  height: 80px;
  margin-left: 20px;
}

#languageDropdown{
  border:1px solid rgba(161,161,161,1);
  opacity:0.6152000000000001;
  padding: 5px 5px 5px 15px !important;
  width: 120px;
  margin-left: 20px;
}

.dropdown-toggle::after{
  float: right;
  margin: 9px 9px 0 0;
}

.cg-dropdown-menu{
  min-width: auto;
  width: 120px;
  margin-left: 20px;
  padding: 0;

  .dropdown-item{
    color:rgba(255,255,255,1);
    padding: 5px 5px 5px 15px;
    background:rgba(43,44,48,1);
  }
}

@media (min-width: $breakpoints-lg) {
  #navbarNavDropdown{
    height: auto;
    min-height: auto;
  }

  .navbar-cg{
    .nav-link-active{
      width: 31px;
      border: 2px solid #FEDD89;
      margin: 0 auto;
    }

    .navbar-nav-cg{
      padding-right: 60px;

      .btn-language{
        margin-left: 20px;
      }
    }
  }

  .navbar-brand-cg{
    background: url(asset-path('navbar-brand.svg')) center center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 160px;
    width: 160px;
    margin-left: 0;
  }
}

@media (min-width: $breakpoints-xl) {
  .navbar-cg {
    .navbar-nav-cg{
      .nav-item{
        margin-right: 15px;
        margin-left: 15px;
      }

      .btn-language{
        margin-left: 30px;
      }
    }
  }
}

.navbar-toggler-cg{
  font-size: 16px;
  font-family: Gotham-Medium;
  font-weight: 400;
  color: rgba(234,234,234,1) !important;
  margin-right: 20px;
}