.tournament{
  font-family: Helvetica;
}

.tournament-bg {
  display: table;
  width: 100%;
  height: 60%;
  background: url(asset-path('tournament/tournament_bg.png')) no-repeat center center;
  background-size: cover;
  color: rgba(234,234,234,1);
}

.tournament-margin{
  margin-top: 120px;
}

.tournament-title-label{
  font-size: 28px;
  font-family: TwCenMT-Bold;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

.tournament-spacer{
  width: 44%;
  height: 2px;
  margin-top: 10px;
  margin-left: -20%;
  background: #979797;
}

.tournament-title{
  font-size: 24px;
  font-family: TwCenMT-Bold;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.tournament-attrs p{
  font-family: TwCenMT-Bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.tournament-nav a{
  font-family: TwCenMT-Bold;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 6px 0!important;
  color: rgba(155,155,155,1);
  text-align: center;
  //color: rgba(20,23,28,1);
}

.tournament-nav a.active{
  color: rgba(20,23,28,1);
}

.tournament-nav a.active .spacer{
  border: 2px solid rgba(19,23,28,1);
  height: 4px;
  width: 40%;
  margin: 16px auto 0;
}

.tour-content{
  padding: 20px 0 150px;
  background: rgba(248,248,248,1);
  border-top: 1px solid rgba(233,233,233,1);
}

.tour-event-intro {
  margin-bottom: 60px;
}

.tour-event-intro .row div{
  margin-top: 20px;
}

.tour-about-title{
  font-size: 14px;
  font-weight: bold;
  color: rgba(162,162,162,1);
}

.tour-title{
  font-size: 26px;
  font-weight: bold;
  color: rgba(20,23,28,1);
}

.tour-description{
  font-size: 16px;
  color:rgba(20,23,28,1);
}

// main event ----begin----
.nav-main-event{
  border: 1px solid rgba(217,217,217,1);
  margin-bottom: 20px;

  .nav-link{
    color: rgba(20,23,28,1);
    background: rgba(255,255,255,1);
    font-size: 16px;
    padding: 7px 12px;
  }

  a.active{
    color: rgba(255,255,255,1);
    background: rgba(20,23,28,1);
  }

  .spacer{
    width: 1px;
    height: 20px;
    margin: auto;
    background: rgba(224,224,224,1);
  }
}

.main-event-schedule{
  background: rgba(32,34,37,1);
  color: rgba(255,255,255,1);

  .schedule-item:nth-child(odd) {
    background:rgba(25,27,31,1);
  }

  .schedule-item{
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 100%;
  }

  .schedule-title{
    font-size: 17px;
    font-family: Helvetica-Bold;
    margin-bottom: 10px;
  }
  .schedule-attr{
    font-size: 14px;
    color: rgba(234,234,234,1);
  }
}

.tour-table{
  padding: 0;
  background: rgba(32,34,37,1);

  table{ width: 100%; }

  thead{
    background: rgba(245,206,133,1);
    font-family: Helvetica-Bold;
    font-weight: bold;
    color: rgba(36,36,36,1);
  }

  tbody{
    background: rgba(32,34,37,1);
    color: rgba(234,234,234,1);
  }

  .table th, .table td {
    border: none;
  }

  .highlight{
    background: rgba(25,27,31,1);
    color: rgba(216,179,110,1);
  }
}

.structure-table{
  th, td{
    padding-left: 35px;
  }
}

.schedule-table{
  th, td{
    padding: 20px;
  }

  tbody tr:nth-child(odd) {
    background:rgba(25,27,31,1);
  }
}

.side-event-table{
  th, td{
    padding: 20px;
  }

  tbody tr:nth-child(odd) {
    background:rgba(25,27,31,1);
  }
}

.nav-prizes{
  border: 1px solid rgba(217,217,217,1);
  margin-bottom: 30px;

  .nav-link{
    color: rgba(20,23,28,1);
  }

  a.active{
    color: rgba(255,255,255,1);
    background: rgba(20,23,28,1);
  }
}

.prize-table{
  table{
    text-align: center;
    font-size: 14px;
    width: 100%;
  }

  tbody tr:nth-child(odd) {
    background:rgba(25,27,31,1);
  }

  th, td{
    padding: 5px;
    border: none !important;
    margin: 0 !important;
  }
}

.side-event-item{
  background: rgba(32,34,37,1);
  color: rgba(255,255,255,1);
  padding: 20px 0;
  margin: 0;

  .name{
    color:rgba(221,184,113,1);
    padding-bottom: 10px;
    font-size: 17px;
  }

  .attr{
    font-size: 15px;
  }
}

.side-event-item:nth-child(odd) {
  background:rgba(25,27,31,1);
}
