<div class="footer-cg">
  <footer class="container">
    <div class="row footer-items">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6 footer-item">
            <div class="footer-item-title">ADDRESS</div>
            <div class="footer-item-text">16th Floor,A3,Kexing Science Park, Nanshan District, Shenzhen</div>
          </div>
          <div class="col-6 footer-item">
            <div class="footer-item-title">CONTACT</div>
            <div class="footer-item-text">+853 65731248 Contact@cg-asia.com</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-6 footer-item">
            <div class="footer-item-title">ONLINE</div>
            <div class="footer-item-text">
              Facebook : @CGAsiaTeam <br>
              Twitter:@CGAsiaTeam
            </div>
          </div>
          <div class="col-6 footer-item" style="padding: 0">
            <%= image_tag 'navbar-brand.svg', class: 'img-fluid footer-item-img' %>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">© 2019, Certified Genius Corp. All Rights Reserved.</div>
  </footer>
</div>
